.details {
    grid-area: details;
    padding: 56px 56px 28px 56px;
    background-color: #fff;
}

.details h3::after {
    content: ":";
}

.details ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.details li {
    width: 146px;
    margin-bottom: 28px;
}

.details li h3 {
    text-transform: uppercase;
    color: #1c2233;
    font-family: "Sailec Medium", sans-serif;
    font-size: 11px;
    margin: 0;
}

.details li p {
    margin-top: 0;
    padding-top: 5px;
    font-family: "Surveyor Body", serif;
    font-size: 16px;
}
