.details {
    grid-area: details;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #fff;
}

.details ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.details li {
    width: 11rem;
    margin-bottom: 1rem;
}

.details li h3 {
    text-transform: uppercase;
    color: #1c2233;
    font-family: "Sailec Medium", sans-serif;
    font-size: 0.75rem;
    margin: 0;
}

.details li p {
    margin-top: 0;
    padding-top: 0.25rem;
    font-family: "Surveyor Body", serif;
    font-size: 1rem;
}
