.hero {
    grid-area: hero;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
}

.hero .hero-plate {
    position: relative;
    z-index: 10;
    max-width: 30rem;
}

.hero > img {
    text-align: center;
    margin-top: -2rem;
    max-width: 100%;
}
