@font-face {
    font-family: "Surveyor Medium";
    src:  url("assets/fonts/surveyor/surveyortext-medium-webfont.ttf") format("truetype");
    font-size: 2rem;
}
@font-face {
    font-family: "Sailec Medium";
    src:  url("assets/fonts/sailec/medium.otf") format("opentype")
}

body {
    padding-top: 2rem;
    background-color: #f8f8f8;
    font-size: 14px;
}
